*.ind
*.ilg
*.idx
*.log
*.gtex
*.glog
*.aux
*.synctex.gz
*.out
*.toc
*.gaux
*.synctex(busy)
psalmi/unused/*
psaumes/112_5a.tex
.DS_Store
109_1a.tex
109_1g.tex
109_7a.tex
110_1f.tex
110_1g2.tex
110_7a.tex
110_7b.tex
110_7c.tex
110_8c.tex
110_8Gstar.tex
111_1a3.tex
111_1g.tex
111_1g2.tex
111_7b.tex
111_8c.tex
112_1a3.tex
112_7a.tex
112_7c.tex
112_8G.tex
112_8Gstar.tex
147_1f.tex
147_1g2.tex
